body {
    align-items: center;
    background-color: aquamarine;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100wh;
}

div {
    background-color: white;
    height: 100px;
    width: 100px;
}


@media screen and (max-width: 500px){
    div {
        background-color: black;
    }
}

@media screen and (min-width: 501px) and (max-width: 800px){
    div {
        background-color: red;
    }
}
@media screen and (min-width: 801px){
    div {
        background-color: yellow;
    }
}